<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <title>Voter</title>
    <link href='//netdn.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css' rel='stylesheet' />
  </head>
  <body class='container'>
    <h1><%= @title %></h1>
    <form action='to_do' method='post'>
      <ul class='unstyled'>
        <% Choices.each do |id, text| %>
          <li>
            <label class='radio'>
              <input type='radio' name='choice' value='<%= id %>' id='choice_<%= id %>' />
              <%= text %>
            </label>
          </li>
        <% end %>
      </ul>
      <button type='submit' class='btn btn-primary'>Add a List</button>
    </form>
  </body>
</html>
