<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <title>Voter</title>
    <link href='//netdn.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css' rel='stylesheet' />
  </head>
  <body class='container'>
    <h1><%= @title %></h1>
    <form action='reflect' method='post'>
      <ul class='unstyled' data-cy="list-of-dates">
        <% Transaction.each do |id, text| %>
          <li>
            <label class='radio'>
              <input type='radio' name='choice' value='<%= id %>' id='choice_<%= id %>' require/>
              <%= text %>
            </label>
          </li>
        <% end %>
      </ul>
      <input type="number" name="money" placeholder="How much?" required>
      <button type='submit' data-cy="add-date" class='btn btn-primary'>Submit Transaction</button>
    </form>
  </body>
</html>
