<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <title>To Do</title>
    <link href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css' rel='stylesheet' />
  </head>
  <body class='container'>
    <h1><%= @title %></h1>
    <p>Cool you <%= Transaction[@choice].downcase %>:</p>
    <h3>$<%= @money %></h3>
    <textarea placeholder="How do you feel?"></textarea>
    <p><a href='/results'>How Have you been using your money?</a></p>
  </body>
</html>
